.container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.list {
  width: 80%;
  max-width: 80rem;
  padding: 2rem;
}

.add_food:hover {
  background-color: #218838;
  opacity: 0.9;
}

.list_item {
  display: grid;
  grid-template-columns: 15rem 1fr 10rem 10rem 1fr 1fr; /* Image + info in columns */
  grid-gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.list_item:hover {
  background-color: #e8f4f1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.list_item img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.list_item a {
  color: green;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.list_item a:hover {
  color: #009e84; /* Green color on hover */
}

.actions {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.actions a {
  color: #007bff; /* Blue color for Edit */
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.actions a:hover {
  color: #0056b3; /* Darker blue on hover */
}

.delete {
  color: #dc3545; /* Red color for Delete */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete:hover {
  color: #c82333; /* Darker red on hover */
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.notFound p {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .list_item {
    grid-template-columns: 6rem 1fr 1fr 1fr 1fr;
    padding: 1rem;
  }

  .add_food {
    font-size: 1rem;
  }

  .list_item img {
    width: 5rem;
    height: 5rem;
  }

  .list_item a {
    font-size: 1rem;
  }
}
