.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 6rem 2rem;
}

.content {
  width: 100%;
  max-width: 40rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.totalPriceSection {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
}

.totalPriceSection h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}

.totalPrice {
  font-size: 2rem;
  font-weight: 700;
  color: #e72929;
  margin-top: 1rem;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons {
  width: 35rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
}
