@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: Quicksand, sans-serif;
}

a {
  text-decoration: none;
}
/* Light Mode Styles */
body.light {
  background-color: #fff;
  color: black;
}

/* Dark Mode Styles */
body.dark {
  background-color: black;
  color: white;
}

/* body.dark .header p{
  color:white;
} */
/* Add more specific styles as necessary */
:root {
  --background-color: white;
  --text-color: #333333;
  --link-color: #3a66b3;
  --border-color: #dddddd;
}