.container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  font-size: 1.2rem;
}

.list {
  width: 100%;
  max-width: 70rem; /* Adjusted to make space for all columns */
  padding: 1rem; /* Add padding for a polished look */
}
.list_item {
  display: grid;
  grid-template-columns: 15% 25% 15% 15% 15% 10% 15%; /* Adjusted to accommodate columns */
  gap: 1%;
  align-items: center;
  border-bottom: 1px solid #eaeaea; /* Softer horizontal rule */
  min-height: 3rem;
}

.list_item:last-child {
  border-bottom: none; /* Remove the last horizontal rule */
}

.list_item > * {
  word-wrap: break-word;
}

h3 {
  margin: 0;
}

.actions {
  display: flex;
  gap: 0.7rem;
}
